.collapse-gallery{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    width: 100vw;
    overflow-x: hidden;
}
  
.collapse-gallery  article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 50px 0;
  }
  
.collapse-gallery  figure {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 0 30px 0;
  }
  
.collapse-gallery  figure figcaption {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }
  
  figure figcaption h1 {
    font-size: 2.3rem;
    letter-spacing: 1px;
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #333;
    text-wrap: nowrap;
  }
  
.collapse-gallery  figure figcaption p {
    color: #bbb;
    border-image: repeating-linear-gradient(
        43deg,
        white,
        white 4px,
        transparent 5px,
        transparent 9px,
        white 10px
      )
      10;
    text-wrap: pretty;
  }
  
.collapse-gallery  figure figcaption p span:last-of-type {
    display: none;
  }
  
.collapse-btn{
    width: 7rem;
    height: 2.5rem;
    border: 1px solid white;
    position: relative;
    display: grid;
    place-items: center;
}

 .collapse-gallery .collapse-btn input {
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  
.collapse-gallery  section {
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
    border-left: 1px solid #555;
    transition: all 0.5s ease;
    position: relative;
  }
  
 .collapse-gallery section::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(
      90deg,
      #ff00bb,
      #ff00b6,
      #ff00a8,
      #ff0b93,
      #ff347a,
      #ff585f,
      #ff7a44,
      #ff9829,
      #ffb20c,
      #ffc500,
      #ffd100,
      #ffd500
    );
    content: "";
    z-index: 2;
    transition: all 1.2s ease;
  }
  
.collapse-gallery  figure:has(.collapse-btn input:checked) ~ section::before {
    width: 0px;
    transition: all 1.2s ease;
  }
  
.collapse-gallery  div {
    flex-grow: 1;
    opacity: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    transition: all 0.4s ease;
  }
  
.collapse-gallery  figure:has(.collapse-btn input:checked) ~ section {
    height: 180px;
    transition: all 0.5s ease;
  }
  
.collapse-gallery  figure:has(.collapse-btn input:checked) ~ section div,
 .collapse-gallery figure:has(.collapse-btn input:checked)
    ~ section
    div
    + div
    + div
    + div
    + div
    + div
    + div
    + div
    + div
    + div
    + div {
    opacity: 1;
    flex-grow: 2;
    transition-delay: 0.15s;
  }
  
.collapse-gallery  figure:has(.collapse-btn input:checked) ~ section div + div,
.collapse-gallery  figure:has(.collapse-btn input:checked)
    ~ section
    div
    + div
    + div
    + div
    + div
    + div
    + div
    + div
    + div
    + div {
    opacity: 1;
    transition-delay: 0.3s;
    flex-grow: 3;
  }
  
  figure:has(.collapse-btn input:checked) ~ section div + div + div,
  figure:has(.collapse-btn input:checked)
    ~ section
    div
    + div
    + div
    + div
    + div
    + div
    + div
    + div
    + div {
    opacity: 1;
    transition-delay: 0.45s;
    flex-grow: 4;
  }
  
  figure:has(.collapse-btn input:checked) ~ section div + div + div + div,
  figure:has(.collapse-btn input:checked)
    ~ section
    div
    + div
    + div
    + div
    + div
    + div
    + div
    + div {
    opacity: 1;
    transition-delay: 0.6s;
    flex-grow: 5;
  }
  
 .collapse-gallery figure:has(.collapse-btn input:checked) ~ section div + div + div + div + div,
 .collapse-gallery figure:has(.collapse-btn input:checked)
    ~ section
    div
    + div
    + div
    + div
    + div
    + div
    + div {
    opacity: 1;
    transition-delay: 0.75s;
    flex-grow: 6;
    background-position: center;
  }
  
 .collapse-gallery figure:has(.collapse-btn input:checked) ~ section div + div + div + div + div + div {
    opacity: 1;
    transition-delay: 0.9s;
    flex-grow: 7;
    background-position: center;
  }
  
 .collapse-gallery section div:hover {
    flex-grow: 2 !important;
  }
  
 .collapse-gallery section:has(div:hover) div:not(:hover) {
    flex-grow: 1 !important;
  }
  
 .collapse-gallery section:has(div:hover) div {
    transition-delay: 0s !important;
  }
  
.collapse-gallery  figure:has(.collapse-btn input:checked) ~ section div {
    animation: pointerFix 1.7s linear 0s 1 normal;
    background-position: center;
  }
  
  @keyframes pointerFix {
    0% {
      pointer-events: none;
    }
    99% {
      pointer-events: none;
    }
    100% {
      pointer-events: initial;
    }
  }
  
  /* Change Gallery Images */
  .collapse-gallery section div:first-of-type {
    background-image: url("/Assets/Home/0.jpg");
  }
  
  .collapse-gallery section div + div {
    background-image: url("/Assets/Home/12.jpg");
  }
  
  .collapse-gallery section div + div + div {
    background-image: url("/Assets/Home/15.jpg");
  }
  
  .collapse-gallery section div + div + div + div {
    background-image: url("/Assets/Home/9.jpg");
  }
  
  .collapse-gallery section div + div + div + div + div {
    background-image: url("/Assets/Home/22.jpg");
  }
  
  .collapse-gallery section div + div + div + div + div + div {
    background-image: url("/Assets/Home/14.jpg");
  }
  
  .collapse-gallery section div + div + div + div + div + div + div {
    background-image: url("/Assets/Home/16.jpg");
  }
  
  .collapse-gallery section div + div + div + div + div + div + div + div {
    background-image: url("/Assets/Home/10.jpg");
  }
  
  .collapse-gallery section div + div + div + div + div + div + div + div + div {
    background-image: url("/Assets/Home/26.jpg");
  }
  
  .collapse-gallery section div + div + div + div + div + div + div + div + div + div {
    background-image: url("/Assets/Home/21.jpg");
  }
  
  .collapse-gallery section div:last-of-type {
    background-image: url("/Assets/Home/17.jpg");
  }
  
  @media (max-width: 900px) {
    .collapse-gallery figure {
      flex-direction: column;
      align-items: flex-start;
    }
    .collapse-gallery figure figcaption {
      margin-bottom: 20px;
    }
    .collapse-gallery figure figcaption p span:first-of-type {
      display: none;
    }
    .collapse-gallery figure figcaption p span:last-of-type {
      display: initial;
    }
    .collapse-gallery button {
      width: 100%;
      max-width: 600px;
    }
  }
  
  @media (max-width: 600px) {
    .collapse-gallery figure figcaption {
      max-width: unset;
    }
    .collapse-gallery button {
      max-width: unset;
    }

    .collapse-gallery  figure:has(.collapse-btn input:checked) ~ section {
      height: 77rem;
    }
  }
  
  @media (max-width: 600px) {

    figure figcaption h1 {
      font-size: 1.3rem;
      text-align: center;
      text-wrap: wrap;
    }

    .collapse-gallery figure figcaption p {
      font-size: 0.9rem;
    }

    .collapse-btn{
      width: 6.2rem;
    }

    .collapse-gallery .collapse-btn span{
      font-size: 0.9rem;
    }

    .collapse-gallery section {
      flex-direction: column;
    }
    .collapse-gallery figure:has(button input:checked) ~ section {
      height: 1000px;
    }
  }
  