.new-events .event-header{
    height: 10rem;
    position: relative;
    transition: all 0.3s linear;
    filter: drop-shadow(4px 3px 5px #05f2a0);
}

.event-header span{
    position: absolute;
    left: 50%;
    top: 50%;
    width: max-content;
    padding: 1rem 10.5rem;
    font-size: clamp(3rem, 0.3vw + 3.1rem, 4rem);
    clip-path: polygon(0 0, 92% 0, 100% 38%, 100% 100%, 7% 100%, 0 55%);
    background-color: rgb(234, 238, 9);
    color: #000;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all 0.3s linear;
    transform-origin: center;
}

.new-event-opened .event-header{
    height: 5rem;
}

.new-event-opened .event-header span{
    top: 20%;
    font-size: 1.6rem;
}

.new-event-header-container > span{
    border: 1px solid white;
}

.events-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    height: 0;
    width: 0;
    padding: 0 0.5rem;
}

.new-event-opened .events-container{
    height: auto;
    width: auto;
}

.event-image{
    transform: scale(0);
    clip-path: polygon(11% 0, 100% 0, 100% 78%, 88% 100%, 0 100%, 0 21%);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform-origin: left;
    transition: all 0.5s cubic-bezier(0,-0.32, 0, 0.77);
    transition-delay: calc(var(--i) * 250ms);
}

.new-event-opened .event-image{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

@media screen and (max-width: 768px){
    .event-header > span{
        font-size: clamp(2.3rem, 0.3vw + 2.5rem, 2.8rem);
        padding: 1rem 5rem;
    }
}

@media screen and (max-width: 650px){
    .events-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .event-header > span{
        font-size: clamp(2rem, 0.3vw + 2.1rem, 2.5rem);
        
    }
}

@media screen and (max-width: 550px){
    .event-header > span{
        font-size: clamp(1.4rem, 0.1vw + 1.6rem, 1.8rem);
        padding: 1rem 3rem;
    }
    .new-event-opened .event-header span{
        top: 20%;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 350px){
    .events-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .event-header > span{
        font-size: clamp(1.8rem, 0.3vw + 2rem, 2.5rem);
    }
}