.sponsers{
    margin-top: 3rem;
}

.sponsers > h3{
    text-align: center;
    font-size: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
}

.sponser-container > h3{
    position: relative;
    font-size: 0.78rem;
    letter-spacing: 1px;
    overflow: hidden;
}

.sponser-container > h3::before, .sponser-container > h3::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.sponser-container > h3::before{
    background: #000;
}

.sponser-container > h3::before{
    animation: reveal 6s infinite steps(14) 2s forwards alternate-reverse;
}

.sponser-container > h3::after{
    background: #fff;
    width: 0.27rem;
    animation: blink 0.7s infinite forwards,
                reveal 6s infinite steps(14) 2s forwards alternate-reverse;
}

@keyframes reveal {
    to{
        left: 108%;
    }
}

@keyframes blink {
    to{
        background-color: #000;
    }
}

.sponser-container{
    height: 6rem;
    display: grid;
    place-content: center;
    margin-bottom: 5rem;
}

@media screen and (max-width: 430px){
    .sponsers > h3{
        font-size: 1.3rem;
    }
}